# APP
PORT=8080

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=myadmin
DB_PASSWORD=mypassword
DB_NAME=brandkitdb
DB_SSL=false

# AWS
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=""
AWS_CLOUDFRONT_DOMAIN_NAME=""